body {
  background: #0f172a;
  font-family: sans-serif;
}

.card {
  width: 400px;
  margin: 100px auto;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #6366f1;
  border: none;
  color: white;
  border-radius: 6px;
}

img {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}
